<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

<style>
  h1{
    text-align: center;
  }

  .userForm{
    width: 50%;
    margin: 0 auto;
  }
</style>

<h1>Search for a Movie 🎬</h1>

<div class="userForm">
  <form action="/results" method="GET">
    <label for="name">Movie</label>
    <input class="u-full-width" style="text-align: center" type="text" placeholder="Search Term" name="search">
    <button class="button-primary">Search 🎥</button>
  </form>
</div>